<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add a Car</title>
</head>
<body background="https://sb.kaleidousercontent.com/67418/1920x1277/0212409b94/colin-lloyd-titfvbwn_hc-unsplash.jpg">
<form method="post">
  {% csrf_token %}
    <label for="brand">Brand:</label>
    <input type="text" id="brand" name="brand" value="{{ car.brand }}" required><br><br>

    <label for="model">Model:</label>
    <input type="text" id="model" name="model" value="{{ car.model }}" required><br><br>

    <label for="year">Year:</label>
    <input type="number" id="year" name="year" value="{{ car.year }}" required><br><br>

    <label for="price">Price:</label>
    <input type="number" id="price" name="price" value="{{ car.price }}" required><br><br>

    <label for="color">Color:</label>
    <input type="text" id="color" name="color" value="{{ car.color }}" required><br><br>

    <label for="mileage">Mileage:</label>
    <input type="number" id="mileage" name="mileage" value="{{ car.mileage }}" required><br><br>

    <input type="submit" value="Save">

</form>
</body>
</html>